.wrapper {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: green;
  padding-left: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  /* -webkit-justify-content: center;
  justify-content: center; */
}
