/* #root .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

#root .navbar-dark .navbar-nav .nav-link.selected {
  color: #007bff;
} */

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}
